---
import adminIcon from "../assets/icons/footer/admin.svg?raw";
import githubIcon from "../assets/icons/footer/github.svg?raw";
import mailIcon from "../assets/icons/footer/mail.svg?raw";
import resumeIcon from "../assets/icons/footer/resume.svg?raw";
import { PUBLIC_ICON_ACTION_CLASS } from "../lib/ui-effects";

type FooterIconName = "mail" | "github" | "admin" | "resume";

type Props = {
  href: string;
  label: string;
  icon: FooterIconName;
  external?: boolean;
};

const { href, label, icon, external = false } = Astro.props as Props;

const iconSvgs: Record<FooterIconName, string> = {
  admin: adminIcon,
  mail: mailIcon,
  github: githubIcon,
  resume: resumeIcon,
};
---

<a
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noreferrer" : undefined}
  class={PUBLIC_ICON_ACTION_CLASS}
  data-icon={icon}
  aria-label={label}
>
  <span class="h-4 w-4 [&>svg]:h-4 [&>svg]:w-4" aria-hidden="true" set:html={iconSvgs[icon]}></span>
</a>
